.navbar a{
    font-family: 'Nanum Gothic', sans-serif !important;
}

.middle-home-page {
  text-align:center;
  margin: 60px;

}

.middle-home-page h1 {
  font-size: 50px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.middle-home-page h2 {
  font-size: 35px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.middle-home-page p {
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
  margin: 20px;
}

.middle-home-page hr {
  border-top: 1px solid black;
  width: 50%;
  margin: auto;
}

.social-links {
  font-size: 50px;
  display: inline;
  justify-content: space-between;
  width: 40%;
  text-align: center;
  margin: auto;
}

.fab {
  color: black;
}

.fab:hover {
  color: grey;
}
a:hover {
  text-decoration: none;
}

.home-page {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
