body {
    opacity: 1;
    transition: 0.2s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.bg-dark {
    font-family: 'Nanum Gothic', sans-serif !important;
    background-color: #343a40 !important;

  }

.middle-home-page {
  text-align:center;
  margin: 60px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;

}

.middle-home-page h1 {
  font-size: 50px;
  padding-top: 0.5em;
}

.middle-home-page h2 {
  font-size: 35px;
  padding: 0.5em;
}

.middle-home-page h3 {
  font-size: 26px;
  padding: 0.5em;
}

.middle-home-page p {
  font-size: 14px;
  margin: 20px;
}

.middle-home-page hr {
  border-top: 1px solid black;
  width: 50%;
  margin: auto;
  padding: 0.5em;
}

.social-links {
  font-size: 50px;
  display: inline;
  justify-content: space-between;
  width: 40%;
  text-align: center;
  margin: auto;
}

.fab {
  color: black;
}

.fab:hover {
  color: grey;
}
a:hover {
  text-decoration: none;
}

.home-page {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-sm {
  /* border: 0.5px solid grey; */
  margin: 1em;
  padding: 1em;
}

.contact p {
  font-size: 20px;
  text-align: left;
  margin: auto;
  color: black;
  padding: 1em;
}

.contact i {
  padding-right: 0.5em;
  font-size: 30px;
}

a { color: inherit; }

.contact {
  margin: 60px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.projects {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.projects-header {
  margin: 1em;
}

.card {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-title {
  font-size: 18px;
  /* font-weight: bold; */
}

.card-body h2{
  font-size: 16px
}

.card-text {
  font-size: 14px
}

.project-buttons input {
  margin: 5px;
}

.aboutme {
  margin: 60px;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}
.h-100 {
    height: 95%!important;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
    object-fit:scale-down;
}

.cv {
  font-family: 'Nanum Gothic', sans-serif;
}

.cv i {
  font-size: 40px;
  padding: 0.5em;
}

.cv h1 {
  margin: 1em;
}
